* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Red Hat Display", sans-serif;
    background-color: #e0e8ff;
    background-image: url(../imgs/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    body {
        background-image: url(../imgs/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.card {
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 680px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



@media (max-width: 375px) {
    .card {
        width: 300px;
        height: 570px;
    }
}

.card .card-body h3 {
    color: #243055;
}

.card .card-body p {
    width: 77%;
    font-size: 18px;
    color: hsl(225deg 13.48% 64.68%);
}

@media (max-width: 375px) {
    .card .card-body p {
        width: 99%;
    }
}

.card .card-body .btn-change {
    color: #382ae1;
}

.card .btn-change:hover {
    text-decoration: none;
    color: rgba(57, 42, 225, 0.753)
}

.card .btn {
    background-color: #382ae1;
    width: calc(100% - 100px);
    padding: 11px;
    border-radius: 10px;
    border: none;
}

@media (max-width: 375px) {
    .card .btn {
        width: 100%;
    }
}

.card .btn:hover {
    background-color: #392ae18e;

}

.card footer .btn-2 {
    color: hsl(225deg 13.48% 64.68%);
}

.card footer .btn-2:hover {
    color: #243055;
}

.card .card-body .change .price {
    color: hsl(225deg 13.48% 64.68%);
}